body{
    background-image: url(img/windowsXPWallpaper_edit1.png);
    background-repeat: repeat-y;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.main{
    background-color: rgb(240, 248, 255);
    position: relative;
    width: 800px; height: 700px;
}

.top{
    display: flex;
    background-color: rgb(73, 86, 238);
    width: 786px; height: 20px;
    padding: 7px;
    font-family:"Audiowide", sans-serif;
    color: azure;
    
}

.h{
    width: 90%;
}

.icons{
    background-color: aqua;
    float: right;
}