body{
    background-image: url(img/windowsXPWallpaper_edit1.png);
    background-repeat: repeat-y;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.main{
    background-color: rgb(240, 248, 255);
    position: relative;
    width: 800px; height: 700px;
}

.top{
    background-color: rgb(0, 0, 255);
    padding: 10px;
    font-family:"Audiowide", sans-serif;
}

.top:hover{
    s
}