body{
    background-image: url(img/background.png);
    display: flex;
}

.gramofon{
    background-image: url(img/gramofon.png);
    background-repeat: no-repeat;
    display: flex;
    width: 220px;
    height: 267px;
}

.gramofon:hover{
    background-image: url(img/gramofon_rot.png);
    background-repeat: no-repeat;
    display: flex;
    width: 220px;
    height: 270px;
}

.ScottPilgrim{
    background-image: url(img/kim_gray<3.png);
    background-repeat: no-repeat;
    display: flex;
    min-width: 190px;
    min-height: 270px;
}